<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {title: "Crear producto"}) %>

    <link rel="stylesheet" href="/css/admin/adminProducts.css">
    <!-- <title>Admin | crear producto</title>    -->

</head>

<body>
    <%- include("../users/login-lateral") %>
    <%- include("../partials/header") %>
    <%- include("../partials/carrito-lateral") %>

    <main>
        <a class="btn-agregar-nuevo" href="/adminProducts/agregar">Nuevo Producto</a>

        <div class="lista-productos-grid">
            <% productos.forEach(producto => { %>

            <article class="card">
                <div class="card-header">
                    <!-- <img src="/assets/img/<%#= producto.imagen %>" alt> -->
                    <img src="/imgs/products_images/<%= producto.imagenes[0].nombre%>" alt>
                </div>
                <div class="card-body">
                    <h3><%= producto.nombre %></h3>
                    <p class="precio-inicial">
                        <% if (producto.descuento) { %>
                        <span>$<%= producto.precio %></span>
                        <span class="descuento">
                            <%= producto.descuento %>%OFF!
                        </span>
                        <% } %>
                    </p>
                    <p class="precio-final">
                        $ <%= producto.descuento ? 
                            Math.trunc(+producto.precio - (+producto.precio * +producto.descuento / 100)) :
                            Math.trunc(producto.precio) %>.00
                    </p>
                    <a href="" class="categoria"><%= producto.categoria.nombre %></a>
                    <div class="botones">
                        <a href="/adminProducts/editar/<%= producto.id %> ">
                            <button class="btn-editar" type="button">Editar <span class="icono"></span></button>
                        </a>
                    </div>
                </div>
            </article>
            <% }); %>



        </div>
    </main>

    <%- include("../partials/footer") %>

    <script src="/js/general.js"></script>
</body>

</html>