<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("../partials/head", {title: "Agregar Producto"}) %>

   <!-- <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script> -->
   <link rel="stylesheet" href="/css/admin/agregarProducto.css">
</head>

<body>
   <%- include("../users/login-lateral") %>
   <%- include("../partials/header") %>
   <%- include("../partials/carrito-lateral") %>

   <main>
      <h1 class="titulo">Crear producto</h1>

      <form class="agregar-form" action="/adminProducts/agregarProducto" method="POST" enctype="multipart/form-data">

         
         <div class="input-contenedor">
            <label for="imgs-producto">Subir imágen principal del producto (solo una)</label>
            <input type="file"  id="imagenes" name="imagenes[]" onchange="previsualizarImg(event)" accept="image/*">
         </div>
         <div><img src="" alt="" id="img-producto-pr" style="size: 50% ;"></div>
         <!-- <div class="input-contenedor">
            <label for="imgs-producto">Subir más imágenes del producto (pueden ser varias)</label>
            <input type="file" id="listaImagenesProducto" name="listaImagenesProducto" accept="image/*" multiple>
         </div> -->
         <div class="input-contenedor">
            <label for="nombre">Título del producto</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto">
         </div>
         <div class="input-contenedor precio">
            <label for="numer">Precio</label>
            <input type="number" id="precio" name="precio" placeholder="ej: 150" method="POST" min="1">
         </div>
         <div class="input-contenedor descuento">
            <label for="numer">Descuento en %</label>
            <input type="number" id="descuento" name="descuento" placeholder="ej.: 15" method="POST">
         </div>
         <div class="input-contenedor categoria">
            <label for="categoria">Seleccione la categoria</label>
            <select name="categoriaId" id="categoriaId">
               <option value="" >seleccione la categoria</option>
               <% categorias.forEach(categoria => { %>
                  <option  value="<%= categoria.id %>" ><%= categoria.nombre %> </option>
               <% }) %> 
            </select>
         </div>
         <div class="input-contenedor categoria">
            <label for="categoria">Seleccione el origen</label>
            <select name="origenId" id="origenId">
               <option value="" >seleccione el origen</option>
               <% origenes.forEach(origen => { %>
                  <option  value="<%= origen.id %>" ><%= origen.nombre %> </option>
               <% }) %> 
            </select>
         </div>
         <div class="input-contenedor categoria">
            <label for="categoria">Seleccione la marca</label>
            <select name="marcaId" id="marcaId">
               <option value="" >seleccione la marca</option>
               <% marcas.forEach(marca => { %>
                  <option  value="<%= marca.id %>" ><%= marca.nombre %> </option>
               <% }) %> 
            </select>
         </div>
         <div class="input-contenedor">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10"
               placeholder="Escriba una descripcion del producto"></textarea>
         </div>
         <div class="input-contenedor">
            <label for="beneficios">Beneficios</label>
            <textarea name="beneficios" id="beneficios" cols="30" rows="10"
               placeholder="Escriba beneficios del producto"></textarea>
         </div>
         <div class="input-contenedor">
            <label for="preparacion">preparacion</label>
            <textarea name="preparacion" id="preparacion" cols="30" rows="10"
               placeholder="Escriba preparacion/uso del producto"></textarea>
         </div>
       <!--   <div class="input-contenedor">
            <label for="inputFile">insertar imagen</label>
            <input type="file" id="inputFile" name="imagen">
         </div> -->

         <div class="input-contenedor button-agregar">
            <button type="submit">Agregar</button>
         </div>
      </form>
   </main>

   <%- include("../partials/footer") %>

   <script src="/js/general.js"></script>
   <script >

   let previsualizarImg = (event) => {

      let imgPreview = new FileReader();
      let id_img = document.getElementById("img-producto-pr");

      imgPreview.onload = ()=> {

         if (imgPreview.readyState == 2) {
            id_img.src = imgPreview.result
         } else {
            id_img.src = ("error")
         }

      }
      imgPreview.readAsDataURL(event.target.files[0])
   }

   </script>
</body>

</html>