<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("../partials/head", {title: "Agregar Producto"}) %>

   <!-- <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script> -->
   <link rel="stylesheet" href="/css/admin/agregarProducto.css">
</head>

<body>
   <%- include("../users/login-lateral") %>
   <%- include("../partials/header") %>
   <%- include("../partials/carrito-lateral") %>

   <main>
      <h1 class="titulo">Crear producto</h1>

      <form class="agregar-form" action="/adminProducts/agregarProducto" method="POST" enctype="multipart/form-data">


         <div class="input-contenedor">
            <label for="imgs-producto">Subir imágen principal del producto (solo una)</label>
            <input type="file" id="imgPrincipalProducto" name="imgPrincipalProducto" accept="image/*">
         </div>
         <!-- <div class="input-contenedor">
            <label for="imgs-producto">Subir más imágenes del producto (pueden ser varias)</label>
            <input type="file" id="listaImagenesProducto" name="listaImagenesProducto" accept="image/*" multiple>
         </div> -->
         <div class="input-contenedor">
            <label for="nombre">Título del producto</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto">
         </div>
         <div class="input-contenedor precio">
            <label for="numer">Precio</label>
            <input type="number" id="precio" name="precio" placeholder="ej: 150" method="POST" min="1">
         </div>
         <div class="input-contenedor descuento">
            <label for="numer">Descuento en %</label>
            <input type="number" id="descuento" name="descuento" placeholder="ej.: 15" method="POST">
         </div>
         <div class="input-contenedor categoria">
            <label for="categoria">Seleccione la categoria</label>
            <select name="categoria" id="categoria">
               <option value="Fideos Cereales">Fideos y Cereales</option>
               <option value="Frutos Secos">Frutos secos</option>
               <option value="Jugos Bebidas">Jugos y Bebidas</option>
               <option value="Infusiones">Infusiones</option>
            </select>
         </div>
         <div class="input-contenedor">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10"
               placeholder="Escriba una descripcion del producto"></textarea>
         </div>
       <!--   <div class="input-contenedor">
            <label for="inputFile">insertar imagen</label>
            <input type="file" id="inputFile" name="imagen">
         </div> -->

         <div class="input-contenedor button-agregar">
            <button type="submit">Agregar</button>
         </div>
      </form>
   </main>

   <%- include("../partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>