<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {title: "Editar Producto"}) %>
    <link rel="stylesheet" href="/css/admin/editarProductos.css">
</head>

<body>
    <%- include("../partials/login-lateral") %>
    <%- include("../partials/header") %>
    <%- include("../partials/carrito-lateral") %>

    <main>
        <!-- <img src="/assets/img/<%= producto.imagen %> " class="card-img" alt="">
        <div class="card-body">
            <h5 class="card-title"><%= producto.nombre %> </h5>
            <p class="card-text"><%= producto.precio %> </p>
            <p class="card-text"><%= producto.descripcion %> </p>
        </div> -->

        <form class="editar-form" action="/adminProducts/editar/<%= producto.id %>?_method=put" method="POST" enctype="multipart/form-data">

            <div class="input-contenedor">
                <label for="imgs-producto">Subir imágen principal del producto (solo una)</label>
                <input type="file" id="imgPrincipalProducto" name="imgPrincipalProducto" accept="image/*" value="<%= producto.imgPrincipalProducto %>">
            </div>
            <!-- <div class="input-contenedor">
                <label for="imgs-producto">Subir más imágenes del producto (pueden ser varias)</label>
                <input type="file" id="listaImagenesProducto" name="listaImagenesProducto" accept="image/*" multiple>
             </div> -->
            <div class="input-contenedor">
                <label for="nombre">Título del producto</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto"
                    value="<%= producto.nombre %>">
            </div>
            <div class="input-contenedor precio">
                <label for="numer">Precio</label>
                <input type="number" id="precio" name="precio" placeholder="ej: 150"  min="1" value="<%= producto.precio %>" />
            </div>
            <div class="input-contenedor descuento">
                <label for="numer">Descuento en %</label>
                <input type="number" id="descuento" name="descuento" placeholder="ej.: 15" value="<%= producto.descuento %>">
            </div>
            <div class="input-contenedor categoria">
                <label for="categoria">Seleccione la categoria</label>

                <!-- Seleccion la categoria del producto en base a condiciones -->
                <select name="categoria" id="categoria">
                    <% if (producto.categoria === "fideos-cereales") { %>
                    <option selected value="fideos-cereales">Fideos y Cereales</option>
                    <option value="frutos-secos">Frutos secos</option>
                    <option value="jugos-bebidas">Jugos y Bebidas</option>
                    <option value="infusiones">Infusiones</option>
                    <% } else if (producto.categoria === "frutos-secos") { %>
                    <option value="fideos-cereales">Fideos y Cereales</option>
                    <option selected value="frutos-secos">Frutos secos</option>
                    <option value="jugos-bebidas">Jugos y Bebidas</option>
                    <option value="infusiones">Infusiones</option>
                    <% } else if (producto.categoria === "jugos-bebidas") { %>
                    <option value="fideos-cereales">Fideos y Cereales</option>
                    <option value="frutos-secos">Frutos secos</option>
                    <option selected value="jugos-bebidas">Jugos y Bebidas</option>
                    <option value="infusiones">Infusiones</option>
                    <% } else { %>
                    <option value="fideos-cereales">Fideos y Cereales</option>
                    <option value="frutos-secos">Frutos secos</option>
                    <option value="jugos-bebidas">Jugos y Bebidas</option>
                    <option selected value="infusiones">Infusiones</option>
                    <% } %>
                </select>
            </div>
            <div class="input-contenedor">
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"
                    placeholder="Escriba una descripcion del producto"><%= producto.descripcion %></textarea>
            </div>
            
            <div class="input-contenedor button-agregar">
                <button type="submit">Guardar Cambios</button>
            </div>    
        </form>
        <form action="/adminProducts/delete/<%= producto.id %>?_method=DELETE" method="POST">
            <div class="input-contenedor">
                <button type="submit">Eliminar producto</button>
            </div>
        </form>
    </main>
    <%- include("../partials/footer") %>

    <script src=" /js/general.js"></script>
</body>

</html>