<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {title: "Editar Producto"}) %>
    <link rel="stylesheet" href="/css/admin/editarProductos.css">
</head>

<body>
    <%- include("../partials/login-lateral") %>
    <%- include("../partials/header") %>
    <%- include("../partials/carrito-lateral") %>

    <main>
        <img src="/assets/img/<%= producto.imagen %> " class="card-img" alt="">
        <div class="card-body">
            <h5 class="card-title"><%= producto.nombre %> </h5>
            <p class="card-text"><%= producto.precio %> </p>
            <p class="card-text"><%= producto.descripcion %> </p>
        </div>

        <form action="/adminProducts/editar/<%= producto.id %>" method="">

        </form>
    </main>
    <%- include("../partials/footer") %>

    <script src="/js/general.js"></script>
</body>

</html>