<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {title: "Carrito"}) %>

   <link rel="stylesheet" href="/css/carrito.css">
</head>

<body class="carrito">
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->
   <%- include("./users/login-lateral") %>
   <%- include("./partials/header") %>
   <%- include("./partials/carrito-lateral") %>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->

   <main>
      <section class="informacion">
         <ul class="encabezado-tags">
            <li class="link actual"><a href="">Datos</a></li>
            <li class="flecha"></li>
            <li class="link"><a href="">Envio</a></li>
            <li class="flecha"></li>
            <li class="link"><a href="">Pago</a></li>
         </ul>
         <div class="datos-contacto-box">
            <h2>Datos de contacto</h2>
            <div class="iniciar-sesion">
               <p>¿Ya tenes una cuenta? <a href="/login">Inicia sesion aqui</a> y carga automáticamente todos tus datos.
               </p>
            </div>
            <form action="/" method="get" class="formulario-datos-contacto">
               <div class="email">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" placeholder="Ingrese su Email">
                  <label for="chbx-susbribirse"> <input type="checkbox" name="suscribirse" id="chbx-susbribirse"
                        checked>
                     Quiero recibir ofertas y promociones en mi Email</label>
               </div>
               <div class="nombre">
                  <label for="nombre">Nombre/s</label>
                  <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre/s">
               </div>
               <div class="apellido">
                  <label for="apellido">Apellido/s</label>
                  <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido/s">
               </div>
               <div class="direccion">
                  <label for="direccion">Dirección</label>
                  <input type="text" name="direccion" id="direccion" placeholder="Ej: Av. Calle 321">
               </div>
               <div class="piso">
                  <label for="piso">Piso</label>
                  <input type="text" name="piso" id="piso" placeholder="Ej: 2">
               </div>
               <div class="departamento">
                  <label for="departamento">Depto.</label>
                  <input type="text" name="departamento" id="departamento" placeholder="Ej: C">
               </div>
               <div class="ciudad-barrio">
                  <label for="ciudad-barrio">Ciudad y/o barrio</label>
                  <input type="text" name="ciudad-barrio" id="ciudad-barrio" placeholder="Ingrese su ciudad o barrio">
               </div>
               <div class="codigo-postal">
                  <label for="codigo-postal">Cod. Postal</label>
                  <input type="text" name="codigo-postal" id="codigo-postal" placeholder="Ej: 1229  ó  C1229ABA">
               </div>
               <div class="numero-cel">
                  <label for="numero-cel">Número de celular</label>
                  <input type="tel" name="numero-cel" id="numero-cel" placeholder="Ej: 11 1234 4567">
               </div>
               <div class="numero-tel-otro">
                  <label for="numero-tel-otro">Número de teléfono u otro</label>
                  <input type="tel" name="numero-tel-otro" id="numero-tel-otro" placeholder="Ej: 11 4912 3456">
               </div>
               <input type="submit" value="Continuar">
            </form>
         </div>
      </section>

      <section class="resumen-compra">
         <div class="max-width-box">
            <div class="encabezado">
               <div class="icono-carrito"></div>
               <p class="ver-ocultar">Ver resúmen</p>
               <p class="precio-total">$ 4.500</p>
            </div>
            <div class="cuerpo">
               <div class="cuerpo-height">
                  <button type="button" class="btn-editar-productos">Editar pedido</button>
                  <div class="lista-productos">
                     <article class="producto">
                        <img class="imagen" src="/assets/img/producto-imagen-1.jpg" alt="/Titulo del producto/">
                        <p class="titulo">Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</p>
                        <p class="cantidad">Cantidad x <span class="numero">2</span></p>
                        <p class="precio-unidad">$ 750 c/u</p>
                        <p class="precio-total">$ 1.500</p>
                     </article>
                     <article class="producto">
                        <img class="imagen" src="/assets/img/producto-imagen-1.jpg" alt="/Titulo del producto/">
                        <p class="titulo">Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</p>
                        <p class="cantidad">Cantidad x <span class="numero">2</span></p>
                        <p class="precio-unidad">$ 750 c/u</p>
                        <p class="precio-total">$ 1.500</p>
                     </article>
                     <article class="producto">
                        <img class="imagen" src="/assets/img/producto-imagen-1.jpg" alt="/Titulo del producto/">
                        <p class="titulo">Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</p>
                        <p class="cantidad">Cantidad x <span class="numero">2</span></p>
                        <p class="precio-unidad">$ 750 c/u</p>
                        <p class="precio-total">$ 1.500</p>
                     </article>
                  </div>
                  <article class="codigo-descuento">
                     <p>¿Tenés algun código de descuento?</p>
                     <form action="/">
                        <input type="text" placeholder="Ingresa el código">
                        <input type="submit" value="Aplicar">
                     </form>
                  </article>
                  <div class="resumen-costo">
                     <p class="subtotal">Subtotal <span class="precio">$ 2.600</span></p>
                     <p class="envio">Costo de Envío <span class="precio">en proceso...</span></p>
                     <p class="precio-total">Total <span class="precio">$ 4.500</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>

   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
   <script src="/js/carrito.js"></script>
</body>

</html>