<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {
      title: "Fideos y Cereales"
   }) %>

   <link rel="stylesheet" href="/css/categoriasGeneral.css">
</head>

<body>
   <%- include("./partials/login-lateral") %>
   <%- include("./partials/header") %>
   <%- include("./partials/carrito-lateral") %>

   <main>
      <div class="hero-categoria">
         <img src="/assets/img/hero-fideos.webp" alt>
      </div>
      <div class="grid-principal">
         <h1>Fideos y Cereales</h1>
         <% productoCategoria.forEach(producto => { %>
         <article class="card">
            <div class="card-header">
               <img src="/imgs/products_images/<%= producto.imagenPrincipal %> " alt>
               <div class="favorito"></div>
            </div>
            <div class="card-body">
               <a href="/products/detalleProducto/<%= producto.id %> ">
                  <h3><%= producto.nombre %> </h3>
                  <p class="precio-inicial">
                     <% if (producto.descuento) { %>
                     <span>$<%= producto.precioInicial %></span>
                     <span class="descuento">
                        <%= producto.descuento %>%OFF!
                     </span>
                     <% } %>
                  </p>
                  <p class="precio-final">$ <%= producto.precioFinal %>.00</p>
                  <p class="precio-secundario">$ <%= producto.precioFinal %>.00 x 1Kg</p>
               </a>
               <div class="botones">
                  <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
               </div>
            </div>
         </article>
         <% }) %>
      </div>
   </main>

   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>