<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %>

			<main>
				<section class="banner">
					<h1>Comsume organico</h1>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Repellat cumque quae vel atque labore quam reiciendis, ad
						mollitia enim, aut dolore quidem animi. Enim, amet error
						dolorem rem necessitatibus perferendis?
					</p>
					<button class="banner--button">Ver mas</button>
					<img class="mockup" src="/assets/img/mockup2.png" alt="" />
				</section>


				<section class="masVendido">
					<h3 class="masVendido--title">Productos populares</h3>
					<div class="swiper carousel1">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="color__back" style="background-color: red;">
									<img src="" alt="">
								</div>

								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(255, 136, 0);">
									<img src="../assets/img/mockup2.png" alt="No image">
								</div>
								<h4>producto</h4>

								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(183, 0, 255);">
									<img src="" alt="">
								</div>
								<h4>producto</h4>

								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(9, 255, 0);">
									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(0, 81, 255);">
									<img src="" alt="">
								</div>
								<h4>producto</h4>

								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(255, 0, 242);">

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">

									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(255, 251, 0);">

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" style="background-color: rgb(0, 255, 255);">

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>

						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>

					</div>
				</section>
				<section class="">
					<article class="seguinos--box">
						<article class="seguinos ">
							<p>
								Atencion al cliente : 0800-<span class="phone">Organic</span>
							</p>
							<img class="mockup--seguinos" src="../assets/img/mockup2.png" alt="">

							<p>Seguinos en</p>
							<ul class="lista-redes seguinos--redes">
								<li><a href="/" class="facebook"></a></li>
								<li><a href="/" class="instagram"></a></li>
								<li><a href="/" class="twitter"></a></li>
							</ul>
						</article>
					</article>
				</section>
				<section>
					<div class="desc">
						<h3>Descuentos</h3>
					</div>

					<article class="descuento">
						<% carousel.forEach(product=> { %>
							<div class="card">
								<div class="imgBox">
									<img src="../assets/img/<%= product.img %> ">
								</div>
								<div class="contentBox">
									<h3>
										<%- product.name %>
									</h3>
									<h2 class="price">$ <%- product.price %> <small>99</small> </h2>
									<h3 class="price--desc">$ <%= product.discount %> <small>99</small></h3>
									<div class="price__box--desc">
										<h3>
											<%= product.promo %>
										</h3>
									</div>
									<button class="btn__buy">Comprar ahora</button>
								</div>
							</div>
							<% }) %>
					</article>


					</div>
				</section>
				<section class="masVendido">
					<h3>Ofertas</h3>
					<div class="swiper carousel2">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">Slide 1</div>
							<div class="swiper-slide">Slide 2</div>
							<div class="swiper-slide">Slide 3</div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</section>
				<section class="contactanos">
					<article class="contactanos--article">
						<h4>Contactanos</h4>
						<p class="lorem">
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. illum quibusdam .
						</p>
						<div class="contactanos--contacto">
							<p>Teléfono</p>
							<p>contacto@organicom.com.ar</p>
							<p>Direccion</p>
							<ul class="lista-redes">
								<li><a href="/" class="facebook"></a></li>
								<li><a href="/" class="instagram"></a></li>
								<li><a href="/" class="twitter"></a></li>
							</ul>
						</div>
					</article>
					<form class="formulario" action="/" method="post">
						<ul>
							<li>
								<input type="text" placeholder="Nombre" name="user_name" />
							</li>
							<li>
								<input type="email" placeholder="E-mail" name="user_mail" />
							</li>
							<li>
								<textarea class="msg" placeholder="Deje su mensaje" name="user_message"></textarea>
							</li>
							<button type="submit">Enviar</button>
						</ul>
					</form>
				</section>
			</main>
			<%- include('./partials/footer') %>
				<script src="../js/index.js">

				</script>
	</body>

</html>