<!DOCTYPE html>
<html lang="es">
<head>
<<<<<<< HEAD
		<%- include("./partials/head", {
			title: "Organicom"
		 }) %>		  
		 
		 <link rel="stylesheet" href="/css/home.css">
</head>
	<body>
		<%- include("./partials/header") %>
		<%- include("./partials/carrito-lateral") %>
		<%- include("./partials/login-lateral") %>

			<main>
				<section class="banner">					
				
				</section>
				<section class="masVendido">
					<h3 class="masVendido--title">Productos populares</h3>
					<div class="swiper carousel1">
						<div class="swiper-wrapper">										
							<div class="swiper-slide">
								<div class="color__back" ">
									<img class='card--img' src="../assets/img/mockup2.png" alt="No image">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" >
									<img src="" alt="">
								</div>
								<h4>producto</h4>

								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" >
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" 
									<img src="" alt="">
								</div>
								<h4>producto</h4>

								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" >

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">

									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" >

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="color__back" >

									<img src="" alt="">
								</div>
								<h4>producto</h4>
								<div class="price__cart">
									<p>precio</p>
									<i class="fa-solid fa-cart-arrow-down"></i>
								</div>
							</div>

						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>

					</div>
				</section>
				<section class="seguinos--box">					
						<article class="seguinos ">
							<div class="seguinos_box--redes">
								<p class="text--seguinos">Seguinos en</p>
								<ul class="lista-redes seguinos--redes">
									<li><a href="/" class="facebook"></a></li>
									<li><a href="/" class="instagram"></a></li>
									<li><a href="/" class="twitter"></a></li>
								</ul>
							</div>
							<img class="mockup--seguinos" src="../assets/img/mockup2.png" alt="">

							<p class="antencion">
								Atencion al cliente : 0800-<span class="phone">Organic</span>
							</p>							
						</article>				
				</section>
				
				<section>
					<div class="desc">
						<h3>Descuentos</h3>
					</div>

					<article class="descuento">
						<% carousel.forEach(product=> { %>
							<div class="card">
								<div class="imgBox">
									<img src="../assets/img/<%= product.img %> ">
								</div>
								<div class="contentBox">
									<div class="product__box">
										<h3 class="carousel__name">
											<%- product.name %>
										</h3>
										<h2 class="price">$ <%- product.price%><small>.99</small> </h2>
										<h3 class="price--desc">$<%= product.discount %><small>.00</small></h3>
									</div>
									<div class="price__box--desc">
										<h3 class="desc__promo">
											<%= product.promo %>
										</h3>									
									<button class="btn__buy">Comprar ahora</button>
								</div>
								</div>
							</div>
							<% }) %>
					</article>


					</div>
				</section>
				<section class="masVendido">
					<h3>Ofertas</h3>
					<div class="swiper carousel2">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">Slide 1</div>
							<div class="swiper-slide">Slide 2</div>
							<div class="swiper-slide">Slide 3</div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</section>
				<section class="contactanos">
					<article class="contactanos--article">
						<h4>Contactanos</h4>
						<p class="lorem">
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. illum quibusdam .
						</p>
						<div class="contactanos--contacto">
							<p>Teléfono</p>
							<p>contacto@organicom.com.ar</p>
							<p>Direccion</p>
							<ul class="lista-redes">
								<li><a href="/" class="facebook"></a></li>
								<li><a href="/" class="instagram"></a></li>
								<li><a href="/" class="twitter"></a></li>
							</ul>
						</div>
					</article>
					<form class="formulario" action="/" method="post">
						<ul>
							<li>
								<input type="text" placeholder="Nombre" name="user_name" />
							</li>
							<li>
								<input type="email" placeholder="E-mail" name="user_mail" />
							</li>
							<li>
								<textarea class="msg" placeholder="Deje su mensaje" name="user_message"></textarea>
							</li>
							<button type="submit">Enviar</button>
						</ul>
					</form>
				</section>
			</main>
			<%- include("./partials/footer") %>
			<script src="/js/general.js"></script>
				<script src="../js/index.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.3/dist/js/splide.min.js"></script>
	</body>
=======
   <%- include("./partials/head", {title: "Bienvenido"}) %>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide-core.min.css">
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->
   <%- include("./users/login-lateral") %>

   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->

   <main>
      <section class="banner-principal">
         <section id="bannerSlide" class="splide" aria-label="Banner principal del sitio">
            <div class="splide__track">
               <ul class="splide__list">
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
               </ul>
            </div>
         </section>
      </section>
      <section class="populares">
         <section id="popularesSlider" class="splide" aria-label="Productos populares">
            <h2>Los más populares</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i <= 10; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%= productos[i].imgPrincipalProducto %>  " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } else { %>
                                 <span style="background-color: #ccc;
                                           display: block; 
                                           height: 1px; 
                                           position: relative;
                                           width: 80%;
                                           margin: 0 auto;
                                           top: 50%;"></span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%#= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>
      <section class="ofertas">
         <section id="ofertasSlider" class="splide" aria-label="Productos populares">
            <h2>Últimas ofertas</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i <= 10; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%= productos[i].imgPrincipalProducto %>  " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].precio %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } else { %>
                                 <span style="background-color: #ccc;
                                              display: block; 
                                              height: 1px; 
                                              position: relative;
                                              width: 80%;
                                              margin: 0 auto;
                                              top: 50%;"></span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>

      <section class="separador">
         <div class="grid-separador">
            <div class="seguinos">
               <p>Seguinos en: </p>
               <ul class="lista-redes">
                  <a href="/" class="facebook"></a>
                  <a href="/" class="twitter"></a>
                  <a href="/" class="instagram"></a>
               </ul>
            </div>
            <div class="atencion">
               <p>Atencion al cliente: <span>0800 1234 1234</span></p>
            </div>
            <div class="logo">
               <a href="/" class="logo-link">
                  <img class="logo" src="/assets/img/logo-amarillo.svg" alt="Logo principal">
               </a>
            </div>
         </div>
      </section>

      <section class="banners-ofertas">
         <div class="contenedor">
            <a href="/">
               <img src="/assets/img/avellanas-banner.png" alt="Banner de ofertas">
            </a>
            <a href="/">
               <img src="/assets/img/jugos-banner.png" alt="Banner de ofertas">
            </a>
         </div>
      </section>

      <section class="frutos-secos">
         <div class="hero">
            <img src="/assets/img/hero-frutos-secos.jpg" alt>
         </div>
         <section id="frutosSecosSlider" class="splide" aria-label="Productos populares">
            <h2>
               <a href="/products/categorias/frutos-secos">Frutos secos</a>
            </h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% productos.forEach(({imgPrincipalProducto, nombre, descuento, precio, categoria, id} )=> { %>

                  <% if (categoria === "Frutos Secos") { %>

                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/default.png " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= id %> ">
                              <h3><%= nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (descuento) { %>
                                 <span>$<%= precio %></span>
                                 <span class="descuento">
                                    <%= descuento %>%OFF!
                                 </span>
                                 <% } else { %>
                                 <span style="background-color: #ccc;
                                              display: block; 
                                              height: 1px; 
                                              position: relative;
                                              width: 80%;
                                              margin: 0 auto;
                                              top: 50%;"></span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= descuento ? 
                                                               Math.trunc(+precio - (+precio * +descuento / 100)) :
                                                               Math.trunc(precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>

                  <% } %>

                  <% }); %>

               </ul>
            </div>
         </section>
      </section>

      <section class="jugos">
         <div class="hero">
            <img src="/assets/img/hero-jugos.jpg" alt>
         </div>
         <section id="jugosSlider" class="splide" aria-label="Productos populares">
            <h2>
               <a href="/products/categorias/jugos-bebidas">Jugos y Bebidas</a>
            </h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% productos.forEach(({imgPrincipalProducto, nombre, descuento, precio, categoria, id} )=> { %>

                  <% if (categoria === "Jugos Bebidas") { %>

                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/default.png " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= id %> ">
                              <h3><%= nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (descuento) { %>
                                 <span>$<%= precio %></span>
                                 <span class="descuento">
                                    <%= descuento %>%OFF!
                                 </span>
                                 <% } else { %>
                                 <span style="background-color: #ccc;
                                              display: block; 
                                              height: 1px; 
                                              position: relative;
                                              width: 80%;
                                              margin: 0 auto;
                                              top: 50%;"></span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= descuento ? 
                                                            Math.trunc(+precio - (+precio * +descuento / 100)) :
                                                            Math.trunc(precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>

                  <% } %>

                  <% }); %>

               </ul>
            </div>
         </section>
      </section>

      <section class="contacto">
         <div class="contenedor">

            <div class="contenido-texto">
               <h3>Contactanos</h3>
               <p class="tel"><span class="icono"></span> +54 9 11 1234-5678</p>
               <p class="email"><span class="icono"></span> contacto@organicom.net</p>
               <p class="calle"><span class="icono"></span> Av. Calle 1234, Bs. As, CABA</p>
               <ul class="lista-redes">
                  <a href="/" class="facebook"></a>
                  <a href="/" class="twitter"></a>
                  <a href="/" class="instagram"></a>
               </ul>
            </div>

            <form class="form-contacto" action="/" method="POST">
               <div class="input-contenedor">
                  <label for="nombre">Tu nombre</label>
                  <input class="input-nombre" type="text" id="nombre" name="nombre"
                     placeholder="Escribi tu nombre y/o apellido">
               </div>
               <div class="input-contenedor">
                  <label for="email">Tu E-mail</label>
                  <input class="input-email" type="email" id="email" name="email" placeholder="Escribi tu E-mail">
               </div>
               <div class="input-contenedor">
                  <label for="msj">Tu Mensaje</label>
                  <textarea name="msj" id="msj" cols="30" rows="10" placeholder="Escribinos tu mensaje"></textarea>
               </div>
               <div class="input-contenedor">
                  <label for="subscribir">
                     <input type="checkbox" name="subscribir" id="subscribir" checked>
                     Quiero recibir ofertas y promociones en mi email
                  </label>
               </div>
               <button type="submit">
                  Enviar Mensaje
               </button>
            </form>

         </div>
      </section>

   </main>

   <%- include("./partials/footer") %>

   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/js/splide.min.js"></script>
   <script src="/js/general.js"></script>
   <script src="/js/home.js"></script>
</body>
>>>>>>> develop

</html>