<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {title: "Bienvenido"}) %>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide-core.min.css">
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->
   <%- include("./users/login-lateral") %>

   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->

   <main>
      <section class="banner-principal">
         <section id="bannerSlide" class="splide" aria-label="Banner principal del sitio">
            <div class="splide__track">
               <ul class="splide__list">
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
                  <li class="splide__slide">
                     <a href="/">
                        <picture>
                           <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
                           <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
                           <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
                        </picture>
                     </a>
                  </li>
               </ul>
            </div>
         </section>
      </section>


      <section class="populares">
         <section id="popularesSlider" class="splide" aria-label="Productos populares">
            <h2>Los más populares</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imgPrincipalProducto %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>
      <section class="ofertas">
         <section id="ofertasSlider" class="splide" aria-label="Productos populares">
            <h2>Últimas ofertas</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imgPrincipalProducto %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>

      <section class="separador">
         <div class="grid-separador">
            <div class="seguinos">
               <p>Seguinos en: </p>
               <ul class="lista-redes">
                  <a href="/" class="facebook"></a>
                  <a href="/" class="twitter"></a>
                  <a href="/" class="instagram"></a>
               </ul>
            </div>
            <div class="atencion">
               <p>Atencion al cliente: <span>0800 1234 1234</span></p>
            </div>
            <div class="logo">
               <a href="/" class="logo-link">
                  <img class="logo" src="/assets/img/logo-amarillo.svg" alt="Logo principal">
               </a>
            </div>
         </div>
      </section>

      <section class="banners-ofertas">
         <div class="contenedor">
            <a href="/">
               <img src="/assets/img/avellanas-banner.png" alt="Banner de ofertas">
            </a>
            <a href="/">
               <img src="/assets/img/jugos-banner.png" alt="Banner de ofertas">
            </a>
         </div>
      </section>

      <section class="frutos-secos">
         <div class="hero">
            <img src="/assets/img/hero-frutos-secos.jpg" alt>
         </div>
         <section id="frutosSecosSlider" class="splide" aria-label="Productos populares">
            <h2>
               <a href="/products/categorias/frutos-secos">Frutos secos</a>
            </h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imgPrincipalProducto %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>

      <section class="jugos">
         <div class="hero">
            <img src="/assets/img/hero-jugos.jpg" alt>
         </div>
         <section id="jugosSlider" class="splide" aria-label="Productos populares">
            <h2>
               <a href="/products/categorias/jugos-bebidas">Jugos y Bebidas</a>
            </h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imgPrincipalProducto %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>

      <section class="contacto">
         <div class="contenedor">

            <div class="contenido-texto">
               <h3>Contactanos</h3>
               <p class="tel"><span class="icono"></span> +54 9 11 1234-5678</p>
               <p class="email"><span class="icono"></span> contacto@organicom.net</p>
               <p class="calle"><span class="icono"></span> Av. Calle 1234, Bs. As, CABA</p>
               <ul class="lista-redes">
                  <a href="/" class="facebook"></a>
                  <a href="/" class="twitter"></a>
                  <a href="/" class="instagram"></a>
               </ul>
            </div>

            <form class="form-contacto" action="/" method="POST">
               <div class="input-contenedor">
                  <label for="nombre">Tu nombre</label>
                  <input class="input-nombre" type="text" id="nombre" name="nombre"
                     placeholder="Escribi tu nombre y/o apellido">
               </div>
               <div class="input-contenedor">
                  <label for="email">Tu E-mail</label>
                  <input class="input-email" type="email" id="email" name="email" placeholder="Escribi tu E-mail">
               </div>
               <div class="input-contenedor">
                  <label for="msj">Tu Mensaje</label>
                  <textarea name="msj" id="msj" cols="30" rows="10" placeholder="Escribinos tu mensaje"></textarea>
               </div>
               <div class="input-contenedor">
                  <label for="subscribir">
                     <input type="checkbox" name="subscribir" id="subscribir" checked>
                     Quiero recibir ofertas y promociones en mi email
                  </label>
               </div>
               <button type="submit">
                  Enviar Mensaje
               </button>
            </form>

         </div>
      </section>

   </main>

   <%- include("./partials/footer") %>

   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/js/splide.min.js"></script>
   <script src="/js/general.js"></script>
   <script src="/js/home.js"></script>
</body>

</html>