<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {title: "Bienvenido"}) %>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide-core.min.css">
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>
   <%- include("./partials/login-lateral") %>

   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>

   <main>
      <section class="populares">
         <section id="popularesSlider" class="splide" aria-label="Productos populares">
            <h2>Los más populares</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imagenPrincipal %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>
      <section class="ofertas">
         <section id="ofertasSlider" class="splide" aria-label="Productos populares">
            <h2>Últimas ofertas</h2>
            <div class="splide__track">
               <ul class="splide__list">
                  <% for( let i = 0; i < 6; i++ ) { %>
                  <li class="splide__slide">
                     <article class="card">
                        <div class="card-header">
                           <img src="/imgs/products_images/<%=  productos[i].imagenPrincipal %> " alt>
                           <div class="favorito"></div>
                        </div>
                        <div class="card-body">
                           <a href="/products/detalleProducto/<%= productos[i].id %> ">
                              <h3><%= productos[i].nombre %> </h3>
                              <p class="precio-inicial">
                                 <% if (productos[i].descuento) { %>
                                 <span>$<%= productos[i].precio %></span>
                                 <span class="descuento">
                                    <%= productos[i].descuento %>%OFF!
                                 </span>
                                 <% } %>
                              </p>
                              <p class="precio-final">
                                 $ <%= productos[i].descuento ? 
                                             Math.trunc(+productos[i].precio - (+productos[i].precio * +productos[i].descuento / 100)) :
                                             Math.trunc(productos[i].precio) %>.00
                              </p>
                              <!-- <p class="precio-secundario">$ <%= productos[i].precio %>.00 x 1Kg</p> -->
                           </a>
                           <div class="botones">
                              <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                           </div>
                        </div>
                     </article>
                  </li>
                  <% } %>

               </ul>
            </div>
         </section>
      </section>
   </main>

   <%- include("./partials/footer") %>

   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/js/splide.min.js"></script>
   <script src="/js/general.js"></script>
   <script src="/js/home.js"></script>
</body>

</html>