<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("../partials/head", {
      title: "Fideos y Cereales"
   }) %>

   <link rel="stylesheet" href="/css/categoriasGeneral.css">
</head>

<body>
   <%- include("../partials/login-lateral") %>
   <%- include("../partials/header") %>
   <%- include("../partials/carrito-lateral") %>

   <main>fideos</main>

   <%- include("../partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>