<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("../partials/head", {
      title: "Frutos Secos"
   }) %>

   <link rel="stylesheet" href="/css/categoriasGeneral.css">
</head>

<body>
   <%- include("../partials/login-lateral") %>
   <%- include("../partials/header") %>
   <%- include("../partials/carrito-lateral") %>

   <main>
      <div class="grid-principal">
         <% productosFinales.forEach(producto => { %>
         <h1><%= producto.nombre %></h1>
         <% }) %>
      </div>
   </main>

   <%- include("../partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>