<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("../partials/head", {title: "Registro"}) %>

   <link rel="stylesheet" href="/css/register.css">
   <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
 
</head>

<body class="register">
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->
   <%- include("../users/login-lateral") %>

   <%- include("../partials/header") %>

   <%- include("../partials/carrito-lateral") %>
   <!-- PRESTAR ATENCION A LAS RUTAS DE INCLUDE EN GENERAL -->

   <main>
      <form class="register-form" action="/users/register2" method="POST">
         <div class="encabezado">
            <h1 class="titulo">Crear cuenta</h1>
         </div>
         <div class="register-main">
            <label for="nombre">Nombre</label>
            <input class="register_input-main" type="text" id="nombre" name="nombre" placeholder="nombre" >
         </div>
         <div class="register-main">
            <label for="email">Email</label>
            <input class="register_input-main" type="email" id="email" name="email" placeholder="email" >
         </div>
         <div class="register-main">
            <label for="numer">Telefono/celular</label>
            <input class="register_input-main" type="number" id="number" name="number"
               placeholder="telefono">
         </div>
         <div class="register-main">
            <label for="password">Password</label>
            <input class="register_input-main" type="password" id="register-password" name="password" placeholder="password" >

         </div>
         <div class="register-main">
            <label for="terminos">
               <input type="checkbox" name="terminos" id="terminos">
               Acepto los terminos y condiciones
            </label>
         </div>
         <div class="register-main">
            <label for="publicidad">
               <input type="checkbox" name="publicidad" id="publicidad" checked>
               Quiero recibir ofertas y promociones
            </label>
         </div>
         <div class="register-main button-register">          
            <button type="submit">
               Crear cuenta
            </button>       
         </div>
      </form>
   </main>

   <%- include("../partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>